body {
	background: url(images/wesson-wang-110739.png);
	background: #295968;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 100;
	color: white;
	margin: 0;
	text-align: center;
}

#content-wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
}

.content {
	margin: 0 auto;
	width: 920px;
}

.content-inner {
	margin: 0 auto;
	width: 600px;
}


/*site header*/

header {
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	width: 920px;
}

#site-logo {
	text-align: left;
	width: 250px;
	margin: 0;
}

nav {
	display: inline-block;
	float: right;
}

nav a {
	margin-left: 20px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	color: #38B4BF;
	padding-bottom: 5px;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	color: #38B4BF;
	padding-bottom: 15px;
}

#site-title {
	text-align: left;
}

/*p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 100;
}*/

#slogan {
	font-style: italic;
	padding-bottom: 15px;
	text-align: left;
	display: block;
}

#services {
	line-height: 36px;
	padding: 10px 50px 10px 50px;
}

.main-img {
	width: 100%;
	height: 350px;
	overflow: hidden;
	margin-bottom: 75px;
}

.img-banner {
    width: 100%;
    height: auto;
    position: relative;
    top: -200px;
}

a {
	text-decoration: none;
	color: #A2D6E8;
}

ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

.btn {
	width: 250px;
	padding: 10px 10px 10px 10px;
	border: #A2D6E8 solid 1px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*homepage folio gallery*/

#folio-preview-gallery img {
	height: 300px;
	width: 250px;
}



/*contact form*/

input {
	width: 300px;
	height: 40px;
	display: block;
	border: none;
	border-radius: 2px;
}

input .btn-submit {
	width: 250px;
	padding: 10px 10px 10px 10px;
	border: #A2D6E8 solid 1px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}











