* {
	padding: 0;
	margin: 0;
}

body {
	background: #295968;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 100;
	color: white;
	margin: 0;
	text-align: center;
	/*background-image: url('../images/carl-heyerdahl-181868.jpg');*/
}

#content-wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
}

.content {
	margin: 0 auto;
	width: 920px;
}

.content-inner {
	margin: 0 auto;
	width: 600px;
}

#homepage-hero {
	background-image: url('../images/carl-heyerdahl-181868.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	margin: 0 0 100px 0;
}


/*site header*/

header {
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
	height: 50px;
}

header .content {
	padding: 10px 0px 10px 0px;
}

#site-logo {
	text-align: left;
	width: 250px;
	margin: 0;
	color: #295968;
	display: inline-block;
	float:left;
}

nav {
	display: inline-block;
	float: right;
}

nav a {
	margin-left: 20px;
	color: #295968;;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	color: #38B4BF;
	padding-bottom: 5px;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	color: #38B4BF;
	padding-bottom: 15px;
}

#homepage-headline {
	text-align: center;
	padding: 150px 0 0 0;
	font-size: 52px;
}

/*p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 100;
}*/

#slogan {
	font-style: italic;
	padding: 25px 0 0 0;
	text-align: center;
	display: block;
}

#services {
	line-height: 36px;
	padding: 10px 50px 10px 50px;
}

.main-img {
	width: 100%;
	height: 350px;
	overflow: hidden;
	margin-bottom: 75px;
}

.img-banner {
    width: 100%;
    height: auto;
    position: relative;
    top: -200px;
}

a {
	text-decoration: none;
	color: #A2D6E8;
}

ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

.btn {
	width: 250px;
	padding: 10px 10px 10px 10px;
	border: #A2D6E8 solid 1px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
}

/*homepage folio gallery*/

#folio-preview-gallery img {
	height: 300px;
	width: 250px;
}

#folio {
	margin: 50px 0px 50px 0px;
}

/*contact form*/

input {
	width: 300px;
	height: 40px;
	display: block;
	border: 1px solid #295968;
	border-bottom: 1px solid #38B4BF;
	background: rgba(256,256,256,0.2);
	border-radius: 2px;
	margin: 10px 0px 20px 0px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

input::-webkit-input-placeholder {
	color: #fff;
	position: relative;
	left: 20px;
}

input[type=submit] {
	color: #fff;
	border-radius: 50px;
	border: 1px solid #A2D6E8;
	background: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: 500;
}

/*input .btn-submit {
	width: 250px;
	padding: 10px 10px 10px 10px;
	border: #A2D6E8 solid 1px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}*/

input::-input-webkit-placeholder {
	color: red;
}

#contact {
	background-color: #052B37;
	height: 500px;
	padding: 100px 0px 20px 0px;
}

#contact-form {
	display: block;
	text-align: center;
}

form {
	display: inline-block;
}







